<div class="button-container">
  <app-stupid-button (clickEmitter)="openSnackBar('Published')">Publish</app-stupid-button>
  <app-stupid-button (clickEmitter)="openSnackBar('Saved!')">Save</app-stupid-button>
  <app-stupid-button (clickEmitter)="imagine('I opened a login dialog')">Login</app-stupid-button>
  <app-stupid-button (clickEmitter)="openSnackBar('Cancelled!')">Cancel</app-stupid-button>
  <app-stupid-button (clickEmitter)="incrementCount()">Increment</app-stupid-button>
  <app-stupid-button (clickEmitter)="decrementCount()">Decrement</app-stupid-button>
  <app-stupid-button (clickEmitter)="imagine('I began something')">Begin</app-stupid-button>
  <app-stupid-button (clickEmitter)="imagine('I ended something')">End</app-stupid-button>
  <app-stupid-button (clickEmitter)="imagine('I routed to a sign up page')">Sign
    Up</app-stupid-button>
  <app-stupid-button (clickEmitter)="openSnackBar('Submitted!')">Submit</app-stupid-button>
  <app-stupid-button (clickEmitter)="imagine('I opened a file uploader')">Upload</app-stupid-button>
  <app-stupid-button (clickEmitter)="imagine('I played something')">Play</app-stupid-button>
  <app-stupid-button (clickEmitter)="imagine('I paused something')">Pause</app-stupid-button>
  <app-stupid-button (clickEmitter)="openSnackBar('I do whatever I want')">?</app-stupid-button>
  <app-stupid-button (clickEmitter)="imagine('I inverted control')">?</app-stupid-button>
  <app-stupid-button (clickEmitter)="incrementCount(100)">?</app-stupid-button>
  <app-stupid-button (clickEmitter)="decrementCount(5000)">?</app-stupid-button>
  <app-stupid-button (clickEmitter)="incrementCount(100000)">?</app-stupid-button>
  <app-stupid-button (clickEmitter)="openSnackBar('Use the force')">?</app-stupid-button>
  <app-stupid-button (clickEmitter)="imagine('I used the force')">?</app-stupid-button>
  <app-stupid-button (clickEmitter)="imagine('what you can do with this architecture')">?</app-stupid-button>
  <app-stupid-button
    (clickEmitter)="imagine('what I would need in order to show this message from the do it all button component')">?</app-stupid-button>
  <app-stupid-button
    (clickEmitter)="imagine('I would need a message prop for my button component, that would only be needed or used in some cases')">?</app-stupid-button>
  <app-stupid-button (clickEmitter)="imagine('how much it would clutter up my markup')">?</app-stupid-button>
  <app-stupid-button (clickEmitter)="openSnackBar('Saved!')">
    <mat-icon fontIcon="save" />
  </app-stupid-button>
  <app-stupid-button (clickEmitter)="openSnackBar('Deleted!')">
    <mat-icon fontIcon="delete" />
  </app-stupid-button>
  <app-stupid-button (clickEmitter)="openSnackBar('Added to favorites')">
    <mat-icon font-icon="favorite" />
  </app-stupid-button>
  <!-- <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button>
  <app-stupid-button (clickEmitter)=""></app-stupid-button> -->
</div>