<div class="button-container">
  @if (smartComponent) {

  <app-know-it-all-button></app-know-it-all-button>
  <app-know-it-all-button buttonText="Publish"></app-know-it-all-button>
  <app-know-it-all-button buttonText="Save"></app-know-it-all-button>
  <app-know-it-all-button buttonText="Login"></app-know-it-all-button>
  <app-know-it-all-button buttonText="Cancel"></app-know-it-all-button>
  <app-know-it-all-button buttonText="Increment"></app-know-it-all-button>
  <app-know-it-all-button buttonText="Decrement"></app-know-it-all-button>
  <app-know-it-all-button buttonText="Begin"></app-know-it-all-button>
  <app-know-it-all-button buttonText="End"></app-know-it-all-button>
  <app-know-it-all-button buttonText="Sign Up"></app-know-it-all-button>
  <app-know-it-all-button buttonText="Submit"></app-know-it-all-button>
  <app-know-it-all-button buttonText="Upload"></app-know-it-all-button>
  <app-know-it-all-button buttonText="Play"></app-know-it-all-button>
  <app-know-it-all-button buttonText="Pause"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  <app-know-it-all-button buttonText="?"></app-know-it-all-button>
  }
  @else {
  <app-smart-container></app-smart-container>
  }
</div>